@import "tailwindcss";

@layer base {
  body {
    background-color: #070b14;
    background-image: 
      radial-gradient(at 100% 0%, rgba(14, 165, 233, 0.05) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgba(16, 185, 129, 0.03) 0px, transparent 50%),
      radial-gradient(at 50% 100%, rgba(59, 130, 246, 0.05) 0px, transparent 50%);
    background-attachment: fixed;
  }
}
